/* Universal Styles */

html {
	font-size: 18px;	
}

body {
	font-family: helvetica, sans-serif;
	/*line-height: 1.4;*/
}

h1,
h3 {
	font-weight: bold;
}

}

h2 {
	font-size: 0.75rem;
}

.container {
	margin: 0 auto;
	width: 960px;
}

/* Header Style */

header {
	background-color: black;
  	color: white;
}

header .container {
	display: flex;
  	align-items: center;
  	padding: .66rem 0 .66rem 0.5rem;
}

header img {
	height: 1.5rem;
	padding-right: 1rem;
}


/* Banner Style */

.banner {
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 25rem;
	align-items: center;*/
}

.announce {
	position: relative;
	background-color: black;
	color: white;
	width: 20rem;
	top: 9rem;
	padding: 2rem 3rem;
}

.announce h1 {
	margin: 0.25rem 0;
	font-size: 2rem;
	line-height: 1.2;
}



/* Menu Style */


.menu {
	background-color: firebrick;
	color: white;	
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 0;
}

.mobile-menu {
	display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-menu {
    display: block;
    text-align: center;
  }
}

/* Products Style */

.products .container {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
}

.item {
	width: 30%;
}

.item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid black;
	height: 9rem;
	padding: 2rem 0;
}

.item-image img {
	max-width: 8rem;
}

.item span {
	display: block;
	padding: 0.5rem;
	background-color: black;
	color: white;
	text-align: center;
}

@media only screen and (max-width: 1024px) {
  .item {
    width: 47%;
  }

  .item.glasses {
    display: none;
  }
}

/* Information Style */

.business-information .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 3rem;
}

.information {
	width: 35%;
	
}

.info-title {
	padding: 1rem 2rem;
	background-color: black;
	color: white;
}


/* Footer Style */

footer {
	padding: 5rem 0;
  	margin-top: 4rem;
  	background-color: black;
  	color: white;
}



/*

@media only screen and(max-width: 1024px) {
	.menu {
		<button>Menu</button>
	}
}
*/




